@import('../../stylus/index.styl')
.register{
    .register-main{
        .auto{
            padding 0 $margin*5
            margin-top $margin*10
            ul{
                li{
                    padding $padding
                    margin: $margin
                    border-bottom $borderwidth solid $font-color1
                    line-height $margin*4
                    input{
                        border none
                        opacity 0
                    }
                }
            }
            .btn{
                margin-top $margin*2
                width: 90%;
            }
        }
    }
}

