@import ('../../../../stylus/index.styl');
.banner
    height $bannerHeight
    background $font-color3
    touch-action: pan-y !important
    .slider
        height: 100% !important
        .slider-frame
            height: 100% !important
            .slider-list
                height: 100% !important
                .slider-slide
                    height: 100% !important
                    img 
                        height: 100% !important
                        touch-action: pan-y !important
