@import('../../../../stylus/index.styl');
.detailData{
    margin-left $margin
    h3{
        font-weight normal
        font-size 0.24rem
        margin-top $margin
    }
    .box{
        overflow hidden
        margin-top $margin
       .detailData-pirce2{
            color red
            float left
            font-size $h3
        }
        .detailData-new{
            color $primary
            border 0.01rem solid red 
            float left
            margin-left $margin
            padding 0.03rem
         }
        .detailData-hot{
            color $primary
            border $borderwidth solid $primary
            float left
            margin-left $padding
            padding 0.03rem
        } 
    }
    .detailData-pirce1{
        color $font-color3
        text-decoration line-through
        margin $padding 0
    }
    
}