@import('../../../../stylus/index.styl')
.nav{
    padding $margin
    display flex
    justify-content space-between
    div{
        text-align center
        div{
            background $font-color4
            padding $margin
            img{
                width 1rem
                height 1rem
                border-radius 50%
            }
        }
        span{
            display block
        }
    }
   
}