@import ('../../stylus/index.styl');
.index
    padding-bottom: $footerHeight
    .index-footer
        width: 100vw 
        height: $footerHeight 
        border-top: $borderWidth solid $font-color3
        position fixed
        left 0 
        bottom: 0 
        display: flex
        background: $font-fff
        a
            flex: 1 
            text-align: center 
            line-height: $footerHeight 
        .select 
            color $primary