@import("./color.styl")
@import("./size.styl")
.btn{
    background: $primary;
    color: $font-fff;
    font-size: $h3;
    text-align: center;
    height: $buttonHeight;
    width: 80%;
    border-radius: $margin
    line-height: $buttonHeight
    margin: $margin
    border none
    display block
}