$footerHeight=1rem;
$headerHeight=0.8rem;

$h1=0.5rem;
$h2=0.3rem;
$h3=0.2rem;

$margin=0.2rem;
$padding=0.1rem;

$buttonHeight=0.6rem;

$borderWidth=0.02rem;

$bannerHeight=3.8rem;

$width=4.63rem

$borderwidth = 1px