@import('../../stylus/index.styl')
.shop
    ul{
        width 7.2rem
        overflow hidden
        li{
            width  9rem
            display  flex
            justify-content space-between
            align-items center
            padding-left $padding
            .firstD{
                img{
                    width 0.3rem
                    height 0.3rem
                }
            }
            .img{
                img{
                    width 1rem
                    height 1rem
                }
            }
            .secondD{
                p{
                    margin $padding
                    height 0.4rem
                    span{
                        padding $padding $margin
                        border $borderwidth solid $font-color1
                        border-right none
                    }
                    span:last-child{
                        border-right $borderwidth solid $font-color1
                    }
                }
            }
            .delD{
                width 1.8rem
                background $primary
                color $font-fff
                text-align center
                line-height 1.12rem
            }
            
        }
        .show-del{
            margin-left -1.8rem
        }
    }
    h1{
        text-align center
        color pink
        font-size 0.4rem
        margin-top $margin*6
    }
    .footer
        width: 100vw 
        height: $footerHeight 
        position fixed 
        background: $font-fff 
        left 0 
        bottom: $footerHeight 
        border-top: $borderWidth solid $font-color3
        box-sizing: border-box
        img 
            width: 0.3rem
            height: 0.3rem
            margin-top $padding
        .quanxuan 
            float left
            margin 0 $margin
        .edit 
            float left 
            margin 0 $margin
        .price 
            float left
            margin  $margin
        .go
            float right
            background $primary
            color $font-fff
            line-height $footerHeight
            width 1.5rem
            border none