@import("../../stylus/index.styl");
.header
    width: 100vw 
    height $headerHeight
    position fixed
    left 0
    top: 0
    background: $primary
    .header-back
        position absolute 
        left 0
        top: 0
        margin-left: $margin
        font-size: $h2
        color: $font-fff
        line-height: $headerHeight
        z-index 2
    .header-title
        width: 100vw
        height: $headerHeight
        text-align: center 
        line-height: $headerHeight
        font-size: $h2
        color: $font-fff
        z-index: 1
    .header-register
        position absolute
        right: 0 
        top: 0 
        margin-right $margin
        font-size: $h2
        color: $font-fff
        line-height: $headerHeight
        z-index: 2