@import('../../stylus/index.styl');
.Detail{
    padding-bottom: $footerHeight
    .footer{
        width: 100vw 
        height: $footerHeight 
        box-sizing: border-box
        position fixed
        left 0
        bottom: 0
        background: $font-fff
        border-top: $borderWidth solid $font-color3
    }
}